body{
    background-color: rgb(241, 236, 236);
}

.card-head{
    width: 27%;
    border: 4px;
    border-style: groove;
    background-color: #fff;
    padding: 0%;
    
    margin-left: 38%;
    margin-right: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-comment{

    color: grey;
    padding: 0%;
    margin-left: 5%;

}
h2{
    
    padding: 0%;
    margin-left: 5%;
}
.card-about{
    color: grey;
    
    padding: 0%;
    margin-left: 5%;
}
.card-img{
    width: 100%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}
.card-link{
    text-decoration: none;
    color: grey;
    
    padding: 0%;
    margin-left: 5%;
}
.card-second{
    width: 100%;
    padding: 0%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}